spring:
  datasource:
    url: jdbc:mysql://localhost:3306/${MYSQL_DATABASE}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  data:
    redis:
      host: localhost # 로컬에서 실행하기 때문
      port: 6379
  config:
    import: env.properties
  security:
    oauth2:
      redirect-url: ${REDIRECT_URL}
      client:
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

        registration:
          kakao:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email
            client-name: Kakao

logging:
  level:
    org.springframework.security: TRACE

springdoc:
  swagger-ui:
    path: /swagger

clova:
  client-id: ${CLOVA_CLIENT_ID}
  client-secret: ${CLOVA_CLIENT_SECRET}
  url: ${CLOVA_SPEECH_URL}
  language: Kor