spring:
  ai:
    openai:
      api-key: ${GPT_API_KEY}
      api-url: https://api.openai.com/v1/chat/completions
      gpt-model: ${GPT_MODEL}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  config:
    import: optional:env.properties
  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
        registration:
          kakao:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email
            client-name: Kakao

logging:
  level:
    org.springframework.security: TRACE

springdoc:
  swagger-ui:
    path: /swagger

jwt:
  secret: ${JWT_SECRET}

clova:
  speech:
    client-secret: ${CLOVA_CLIENT_SECRET}
    language: ko